DuPont DevSB/src/flows/Create_Or_Update_Business_User-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_Or_Update</name>
        <label>Create Or Update</label>
        <locationX>136</locationX>
        <locationY>178</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Business_User</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_User</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Special_Rights</name>
        <label>Has Special Rights</label>
        <locationX>415</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User.SpecialRights__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Assign Business User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inactivate_Business_User</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>F_Name</name>
        <dataType>String</dataType>
        <expression>{!User.FirstName} + &apos; &apos; + {!User.LastName} + &apos; : PS&apos;</expression>
    </formulas>
    <interviewLabel>Create Or Update Business User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Or Update Business User</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Business_User</name>
        <label>Create Business User</label>
        <locationX>32</locationX>
        <locationY>297</locationY>
        <assignRecordIdToReference>BusinessUserId</assignRecordIdToReference>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>User.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BU__c</field>
            <value>
                <stringValue>PS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>User.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>User.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>F_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G41000001sGfLEAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Record_Id__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Business_User__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetBusinessUser</name>
        <label>GetBusinessUser</label>
        <locationX>141</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Or_Update</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <object>Business_User__c</object>
        <outputReference>BusinessUser</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>BU__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>User_Record_Id__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Inactivate_Business_User</name>
        <label>Inactivate Business User</label>
        <locationX>415</locationX>
        <locationY>435</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessUser.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Business_User__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_User</name>
        <label>Update Business User</label>
        <locationX>225</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Has_Special_Rights</targetReference>
        </connector>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <elementReference>User.IsActive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G41000001sGfLEAU</stringValue>
            </value>
        </inputAssignments>
        <object>Business_User__c</object>
    </recordUpdates>
    <startElementReference>GetBusinessUser</startElementReference>
    <variables>
        <name>BusinessUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_User__c</objectType>
    </variables>
    <variables>
        <name>BusinessUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
