DuPont DevSB/src/flows/Customer_Survey_v2-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Radio_Button_value_assignments</name>
        <label>Radio Button value assignments</label>
        <locationX>502</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>Q1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q1RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q2_RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q3_RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q4RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q5RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q6RB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Q7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q7RB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Survey</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dissatisfied</name>
        <choiceText>Dissatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neutral</name>
        <choiceText>Neutral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neutral</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Satisfied</name>
        <choiceText>Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_Dissatisfied</name>
        <choiceText>Very Dissatisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Dissatisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Very_Satisfied</name>
        <choiceText>Very Satisfied</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very Satisfied</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_survey_already_exist</name>
        <label>Check if survey already exist</label>
        <locationX>487</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>IssueLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_survey_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingSurveyId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SurveyAlreadyExistsMessage</targetReference>
            </connector>
            <label>If survey exist</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Survey v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Survey</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Survey</name>
        <label>Insert Survey</label>
        <locationX>503</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>ThanksMessage</targetReference>
        </connector>
        <inputAssignments>
            <field>Accuracy_of_the_service_provided__c</field>
            <value>
                <elementReference>Q5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <elementReference>Issue.Application__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>BusinessName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>Issue.Classification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_skills_of_the_agent__c</field>
            <value>
                <elementReference>Q2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communications_of_the_status_of_survey__c</field>
            <value>
                <elementReference>Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Resolved__c</field>
            <value>
                <elementReference>Q7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>IssueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_User__c</field>
            <value>
                <elementReference>SubmitterName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>ownerid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professionalism_of_the_analyst__c</field>
            <value>
                <elementReference>Q1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Q4__c</field>
            <value>
                <elementReference>Q10_textBox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>RegionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Satisfaction_of_overall_services__c</field>
            <value>
                <elementReference>Q6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>Issue.Severity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timeline_of_the_service_provided__c</field>
            <value>
                <elementReference>Q4</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Existing_Survey_lookup</name>
        <label>Existing Survey lookup</label>
        <locationX>307</locationX>
        <locationY>9</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_survey_already_exist</targetReference>
        </connector>
        <filters>
            <field>Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IssueId</elementReference>
            </value>
        </filters>
        <object>Survey__c</object>
        <outputAssignments>
            <assignToReference>ExistingSurveyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>IssueLookup</name>
        <label>Issue</label>
        <locationX>495</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Key_User_Lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IssueId</elementReference>
            </value>
        </filters>
        <object>Issue__c</object>
        <outputAssignments>
            <assignToReference>Issue.Application__c</assignToReference>
            <field>Application__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Issue.Classification__c</assignToReference>
            <field>Classification__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerid</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Issue.Region__c</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Issue.Severity__c</assignToReference>
            <field>Severity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Submitter</assignToReference>
            <field>Submitted_By__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Key_User_Lookup</name>
        <label>Key User Lookup</label>
        <locationX>496</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_main_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Submitter</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SubmitterName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BusinessName</assignToReference>
            <field>User_Owning_Org__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegionName</assignToReference>
            <field>User_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Survey_main_screen</name>
        <label>Survey main screen</label>
        <locationX>502</locationX>
        <locationY>325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Radio_Button_value_assignments</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Dupont Customer Satisfaction Survey&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please help us improve by taking our short satisfaction survey&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt; &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewLine4</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewLine5</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1. How would you assess the professionalism, friendliness and courtesy of the analyst who assisted you?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2_RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2. How would you assess the communication skills of the agent?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine2</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q3_RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;3. How would you describe the communications concerning the status of the service you received?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine6</name>
            <fieldText>&lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;4.How would you assess the timelines in which your service was provided?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine7</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q5RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;5. How would you assess the accuracy of the service provided?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine8</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q6RB</name>
            <choiceReferences>Very_Satisfied</choiceReferences>
            <choiceReferences>Satisfied</choiceReferences>
            <choiceReferences>Dissatisfied</choiceReferences>
            <choiceReferences>Very_Dissatisfied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;6. How would you assess the overall quality of the service provided?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine9</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q7RB</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;7. Do you consider your issue resolved?&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewLine10</name>
            <fieldText>&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q10_textBox</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;8. Additional Comments(If Any)&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SurveyAlreadyExistsMessage</name>
        <label>SurveyAlreadyExistsMessage</label>
        <locationX>706</locationX>
        <locationY>8</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SurveyAlreadyExistsDisplayText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0033&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank You. We already have received feedback for this Issue.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ThanksMessage</name>
        <label>ThanksMessage</label>
        <locationX>500</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0033FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank you for taking the time to complete this survey. TCS Application Support Services Team will review your input for service and quality improvement opportunities.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#0033FF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Existing_Survey_lookup</startElementReference>
    <variables>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Issue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Issue__c</objectType>
    </variables>
    <variables>
        <name>IssueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Q4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Q7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Submitter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
