DuPont DevSB/src/flows/FindIfUserHasRecordOwnership-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_key_user_for_Deactivation_SFAR_with_blank_Transfer_records_to_field</name>
        <label>Email to key user for Deactivation SFAR with blank Transfer records to field</label>
        <locationX>107</locationX>
        <locationY>657</locationY>
        <actionName>Issue__c.Email_to_key_user_for_Deactivation_SFAR_with_blank_Transfer_records_to_field</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateRelatedIssueFiledinSFARwithIssueCreated</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IssueId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Issue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Issue__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>IssuesandIdeas</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Issues and Ideas</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckIfUserHasRecordOwnership</name>
        <label>CheckIfUserHasRecordOwnership</label>
        <locationX>54</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CheckIfUserHasRecordOwnershipOutCome</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4 OR 5 Or 6) AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>AccountID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>CaseID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>ERPAccountReceivableId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SFAR.SFDC_Instance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One DuPont Corporate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateIssue</targetReference>
            </connector>
            <label>CheckIfUserHasRecordOwnership</label>
        </rules>
    </decisions>
    <formulas>
        <name>DiscussionUpdates</name>
        <dataType>String</dataType>
        <expression>&apos;As Transfer records to user is blank in the &apos;+{!SFAR.Name}+&apos;, Issue has been created and is waiting for your inputs without transferring records after deactivating the User. Please update your comments to transfer records of Deactivated user &apos;+{!User.Name}+&apos; to any new user in the issue&apos;</expression>
    </formulas>
    <formulas>
        <name>IssueDescription</name>
        <dataType>String</dataType>
        <expression>&apos;To transfer the records of the user &apos;+{!User.Name}+&apos; as requested by &apos;+{!KeyUser.Name}+&apos; with respect to SFAR request : &apos;+{!SFAR.Name}</expression>
    </formulas>
    <formulas>
        <name>IssueName</name>
        <dataType>String</dataType>
        <expression>&apos;To transfer the records of the user &apos; &amp;  {!User.Name}</expression>
    </formulas>
    <formulas>
        <name>Resolution</name>
        <dataType>String</dataType>
        <expression>{!KeyUser.Name} +&apos; has been intimated to provide inputs as per the &apos;+{!SFAR.Name}+&apos; to whom to transfer the records and the status is changed to waiting automatically by mail communication to key user.&apos;</expression>
    </formulas>
    <interviewLabel>FindIfUserHasRecordOwnership_IS ID-00069415 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FindIfUserHasRecordOwnership_IS ID-00069974</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateIssue</name>
        <label>CreateIssue</label>
        <locationX>121</locationX>
        <locationY>550</locationY>
        <assignRecordIdToReference>IssueId</assignRecordIdToReference>
        <connector>
            <targetReference>Email_to_key_user_for_Deactivation_SFAR_with_blank_Transfer_records_to_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <stringValue>CRM (Standard functionality)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <stringValue>Routine</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Accepted__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>IssueDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discussion_And_Updates__c</field>
            <value>
                <elementReference>DiscussionUpdates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>IssueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SystemAdminID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>SFAR.Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IssueRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>KeyUser.User_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Access_Request__c</field>
            <value>
                <elementReference>SFAR.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFDC_Instance__c</field>
            <value>
                <elementReference>SFAR.SFDC_Instance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Transfer Records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Waiting with Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_By__c</field>
            <value>
                <elementReference>SFAR.Key_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_DateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Data</stringValue>
            </value>
        </inputAssignments>
        <object>Issue__c</object>
    </recordCreates>
    <recordLookups>
        <name>AccountLookup</name>
        <label>AccountLookup</label>
        <locationX>33</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactLookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>CaseLookup</name>
        <label>CaseLookup</label>
        <locationX>310</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>opportunity_lookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContactLookup</name>
        <label>ContactLookup</label>
        <locationX>172</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseLookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Key_User_lookup</name>
        <label>Key User lookup</label>
        <locationX>24</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.Key_User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>KeyUser.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>KeyUser.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>KeyUser.User_Region__c</assignToReference>
            <field>User_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lead_lookup</name>
        <label>lead lookup</label>
        <locationX>634</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeLookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>opportunity_lookup</name>
        <label>opportunity lookup</label>
        <locationX>452</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lead_lookup</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeLookup</name>
        <label>RecordTypeLookup</label>
        <locationX>296</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>System_admin_lookup</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IssuesandIdeas</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Issue</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IssueRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SFAR_lookup</name>
        <label>SFAR lookup</label>
        <locationX>230</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFARID</elementReference>
            </value>
        </filters>
        <object>SFDC_Access_Request__c</object>
        <outputAssignments>
            <assignToReference>SFAR.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Key_User__c</assignToReference>
            <field>Key_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Program__c</assignToReference>
            <field>Program__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.SFDC_Instance__c</assignToReference>
            <field>SFDC_Instance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Status__c</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Subtype__c</assignToReference>
            <field>Subtype__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Transfer_Records_to_User__c</assignToReference>
            <field>Transfer_Records_to_User__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.Type__c</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SFAR.User__c</assignToReference>
            <field>User__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>System_admin_lookup</name>
        <label>System admin lookup</label>
        <locationX>187</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfUserHasRecordOwnership</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Madhu Reddipalli</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SystemAdminID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserLookup</name>
        <label>UserLookup</label>
        <locationX>34</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Key_User_lookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFAR.User__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>User.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>User.User_Region__c</assignToReference>
            <field>User_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelatedIssueFiledinSFARwithIssueCreated</name>
        <label>UpdateRelatedIssueFiledinSFARwithIssueCreated</label>
        <locationX>119</locationX>
        <locationY>776</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SFARID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Issue__c</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Related_Issue__c</field>
            <value>
                <elementReference>IssueId</elementReference>
            </value>
        </inputAssignments>
        <object>SFDC_Access_Request__c</object>
    </recordUpdates>
    <startElementReference>SFAR_lookup</startElementReference>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ERPAccountReceivableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ifUserHasRecordOwnership</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IssueRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KeyUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SFAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SFDC_Access_Request__c</objectType>
    </variables>
    <variables>
        <name>SFARID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemAdminID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UserAccountsForSFAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
