DuPont DevSB/src/flows/Lead_Segmentation_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>DoNothing</name>
        <label>DoNothing</label>
        <locationX>574</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>svarLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarLead</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lead_Segmentation</name>
        <label>Set Lead Segmentation</label>
        <locationX>377</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>svarLead.primarySegment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>svarSegmentation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Segmentation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Segmentation_Input_Field</name>
        <label>Check Segmentation Input Field</label>
        <locationX>368</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>DoNothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DoNothing</defaultConnectorLabel>
        <rules>
            <name>Lookup_Segmentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarLead.Segmentation_Hierarchy_W2L_Input__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Segmentation_Record</targetReference>
            </connector>
            <label>Lookup Segmentation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segmentation_Lookup_Result</name>
        <label>Check Segmentation Lookup Result</label>
        <locationX>373</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>DoNothing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Update_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarSegmentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Segmentation</targetReference>
            </connector>
            <label>Update Lead</label>
        </rules>
    </decisions>
    <label>Lead Segmentation Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Segmentation_Record</name>
        <label>Lookup Segmentation Record</label>
        <locationX>369</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segmentation_Lookup_Result</targetReference>
        </connector>
        <filters>
            <field>Hierarchy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarLead.Segmentation_Hierarchy_W2L_Input__c</elementReference>
            </value>
        </filters>
        <object>Segmentation__c</object>
        <outputReference>svarSegmentation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Segmentation</name>
        <label>Update Lead Segmentation</label>
        <locationX>378</locationX>
        <locationY>538</locationY>
        <inputReference>svarLead</inputReference>
    </recordUpdates>
    <startElementReference>Check_Segmentation_Input_Field</startElementReference>
    <variables>
        <name>svarLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>svarSegmentation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Segmentation__c</objectType>
    </variables>
    <variables>
        <name>varLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
