DuPont DevSB/src/flows/Match_Inquiry_to_Leads-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Email_matches_existing_Lead</name>
        <label>Case Email matches existing Lead</label>
        <locationX>81</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadId.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Matching_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added with Inquiry Mgmt and Communities POC.  This flow is triggered by a process builder when a new Case is created from Community and Contact is null.  It will match e-mail provided with Case against existing Leads and relate match to Case.  If no match found, will create new Lead and relate to Case.</description>
    <interviewLabel>Match Inquiry to Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Inquiry to Leads</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>302</locationX>
        <locationY>241</locationY>
        <assignRecordIdToReference>NewLeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_with_New_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CaseId.SuppliedCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CaseId.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CaseId.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <description>Looks for existing Leads with Email that matches the Case Email</description>
        <name>Look_for_Matching_Lead</name>
        <label>Look for Matching Lead</label>
        <locationX>79</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Email_matches_existing_Lead</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LeadId.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadId.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Matching_Lead</name>
        <label>Update Case with Matching Lead</label>
        <locationX>301</locationX>
        <locationY>40</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>LeadId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LeadId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_New_Lead</name>
        <label>Update Case with New Lead</label>
        <locationX>500</locationX>
        <locationY>237</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>NewLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Look_for_Matching_Lead</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>E-mail provided by Inquiry Submitter</description>
        <name>EmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RecordId of the matched Lead.  Stored to set lookup on Case record at conclusion of process</description>
        <name>LeadId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
