DuPont DevSB/src/flows/Privacy_Search_By_Name-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>SetDefault</name>
        <label>SetDefault</label>
        <locationX>119</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>PrivacySearchRequest.Leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Lead_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDefault2</name>
        <label>SetDefault2</label>
        <locationX>335</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>PrivacySearchRequest.Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFields1</name>
        <label>SetFields1</label>
        <locationX>109</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>PrivacySearchRequest.Leads__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Potential Name Match Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetFields2</name>
        <label>SetFields2</label>
        <locationX>332</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>PrivacySearchRequest.Contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Potential Name Match Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestChanged</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RequestHasChanged</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_By_Name</name>
        <label>Contact By Name</label>
        <locationX>336</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CBN_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFields2</targetReference>
            </connector>
            <label>CBN Found</label>
        </rules>
        <rules>
            <name>CBN_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestHasChanged</targetReference>
            </connector>
            <label>CBN Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_By_Name</name>
        <label>Lead By Name</label>
        <locationX>112</locationX>
        <locationY>289</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_By_Name_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetFields1</targetReference>
            </connector>
            <label>Lead By Name - Yes</label>
        </rules>
        <rules>
            <name>Lead_By_Name_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Contact_Found</targetReference>
            </connector>
            <label>Lead By Name - No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequestHasChanged</name>
        <label>RequestHasChanged?</label>
        <locationX>585</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrivacyRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found?</label>
        <locationX>361</locationX>
        <locationY>143</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Contacts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Potential Match Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequestHasChanged</targetReference>
            </connector>
            <label>Contact Found - Yes</label>
        </rules>
        <rules>
            <name>Contact_Found_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Contacts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Contacts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefault2</targetReference>
            </connector>
            <label>Contact Found - No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lead_Found</name>
        <label>Was Lead Found?</label>
        <locationX>295</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefault</targetReference>
            </connector>
            <label>Lead Not Found</label>
        </rules>
        <rules>
            <name>Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrivacySearchRequest.Leads__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Potential Match Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Contact_Found</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>F_Space</name>
        <dataType>String</dataType>
        <expression>&apos; &apos;</expression>
    </formulas>
    <interviewLabel>Privacy Search By Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Search By Name</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_Contact</name>
        <label>Search Contact By Name</label>
        <locationX>341</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_By_Name</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivacySearchRequest.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivacySearchRequest.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Lead_By_Name</name>
        <label>Search Lead By  Name</label>
        <locationX>111</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_By_Name</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivacySearchRequest.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrivacySearchRequest.Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>PrivacyRequest</name>
        <label>Privacy Request</label>
        <locationX>593</locationX>
        <locationY>534</locationY>
        <inputReference>PrivacySearchRequest</inputReference>
    </recordUpdates>
    <startElementReference>Was_Lead_Found</startElementReference>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>PrivacySearchRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Privacy_Search_Request__c</objectType>
    </variables>
    <variables>
        <name>RequestChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
